h1,
p {
  font-family: Lato;
}

.App {
  max-height: 100%;
}

.header-container {
  width: 100%;
}

.main-nav {
  display: flex;
  flex-direction: row;
}

Main {
  width: 60%;
}

Nav {
  width: 40%;
}
